html, body {
    margin: 0px;
    padding: 0px;
    height: 100%;
    border: none;
}

@media screen and (min-width: 765px) {
  .menu-button {
    font-size: 50px;
  }
}

@media screen and (max-width: 427px) {
	.jade {
		padding-left: 68.7px;
	}
}

/* use for all pages */
.banner {
	background-color: #ffcc00;	
	width: 100%;
}

span {
	background-color: #ffcc00; /*Golden*/
	font-family: Raleway, Comic Sans MS, sans-serif;
	font-size: 40px;
	margin-top: 0px;
}

.menu-button {
	margin-left: 10px;
	width: 100%;
	text-align: left;
	min-height: 50px;
	max-height: 125px;
	padding-left: 10px;
	background-color: #ffcc00; /*Golden*/
	font-family: Raleway, Comic Sans MS, sans-serif;
	font-size: 40px;
	margin-top: 0px;
}

a {
    text-decoration: none !important;
    padding: 7.5px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    bottom: 10px;
    font-size: 20px;
    margin-left: 10px;
	color: black;
}

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 10; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 30px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus {
    background-color: #f1f1f1;
	color: #111;
}

.sidenav a.active {
	background-color: #f1f1f1;
	color: #111;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* end template */
.fling-minislide {width:350px; height:300px; overflow:hidden; position:relative; }
.fling-minislide img{ position:absolute; animation:fling-minislide 20s infinite; opacity:0; width: 100%; height: auto;}

@keyframes fling-minislide {25%{opacity:1;} 40%{opacity:0;}} 
.fling-minislide img:nth-child(3){animation-delay:5s;}
.fling-minislide img:nth-child(2){animation-delay:10s;}
.fling-minislide img:nth-child(1){animation-delay:15s;}

.undercurrents {
    width: 100%;
    min-height: 100px;
    min-width: 100px;
    margin-right: 4px;
    margin-top: 4px;
}

.toughness {
    width: 100%;
    min-height: 100px;
    min-width: 100px;
}

.fact121 {
    width: 100%;
    margin-top: 4px;
    min-height:100px;
    min-width:100px;
}

p {
font-size: 40px;
}
