    html, body {
    margin: 0px;
    padding: 0px;
    height: 100%;
    border: none;
}

@media screen and (min-width: 920px) {
	.buttons {
    	display: inline;
        right: 10px !important;
    }
}

@media screen and (max-width: 920px) {
	.buttons {
	display: block;
	}
}



/* use for all pages */
span {
background-color: #ffcc00; /*Golden*/
font-family: Raleway, Comic Sans MS, sans-serif;
font-size: 40px;
margin-top: 0px
}

.menu-button {
width: 100%;
text-align: left;
min-height: 50px;
max-height: 125px;
padding-left: 10px;
border-bottom: 2px solid;
background-color: #ffcc00; /*Golden*/
font-family: Raleway, Comic Sans MS, sans-serif;
font-size: 40px;
margin-top: 0px;
}

a {
    text-decoration: none !important;
    text-align: right !important;
    color: black;
    padding: 7.5px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    bottom: 10px;
    font-size: 20px;
    margin-left: 10px;
    border-radius: 20px;
    border: 1px solid gray;
}

.buttons {
    right: 10px;
    top: 25px;
    position: fixed;
    z-index: 3;
    font-size: 18px;	
}

/* The side navigation menu */

.hamburg {
    max-height: 25px;
    max-width: 25px;
}
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

/* end template */

.undercurrents {
min-height: 100px;
max-height: 300px;
min-width: 100px;
max-width: 300px;
margin-right: 4px;
margin-top: 4px;
}

.jkrowling {
    min-height: 100px;
    max-height: 300px;
    min-width: 100px;
    max-width: 400px;
}

.fact121 {
    margin-top: 4px;
    min-height:100px;
    max-height:300px;
    min-width:100px;
    max-width:300px;
}

p {
font-size: 40px;
}

/* copyright */
.copyright {
    clear: left;
    background: #ccffdd;
    text-align: center;
    font-size: 20px;
    line-height: 35px;
    color: #000000;
    position: fixed;
    bottom: 0;
    width: 100%;
    -webkit-box-shadow: -4px -5px 22px -2px rgba(0,0,0,0.45);
    -moz-box-shadow: -4px -5px 22px -2px rgba(0,0,0,0.45);
    box-shadow: -4px -5px 22px -2px rgba(0,0,0,0.45);
    height: 35px;
    padding: 3px;
}
/* end copyright */
